<div class="center jumbotron">
  <div class="text-center">
    <h1>本当に退会しますか？</h1>
  </div>
  <div class="row">
    <div class="text-center">
      <button type="button" class="btn btn-danger">
        <%= link_to 'YES', @message, method: :delete %>
      </button>
      <button type="button" class="btn btn-primary">
        <%= link_to 'NO', user_path %>
      </button>
    </div>
</div>