<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active col-sm-12">
      <%= image_tag "13-1280x480.jpg", class: "img-item", :style=>"opacity:0.8" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Fishing NAVI</h2>
        <p>使いやすさを追求した</p>
        <p>全国の釣り情報記録</p>
      </div>
    </div>
    <div class="carousel-item col-sm-12">
      <%= image_tag "14-1280x480.jpg", class: "img-item", :style=>"opacity:0.9" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Let's Record Your Catch!!</h2>
        <p>記録できる</p>
      </div>
    </div>
    <div class="carousel-item col-sm-12">
      <%= image_tag "27-1280x480.jpg", class: "img-item", :style=>"opacity:0.9" %>
      <div class="carousel-caption d-none d-md-block">
        <h2>Let's Share with Other!!</h2>
        <p>共有できる</p>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="headder"><p>こんなことができます！</p></div>
  <div class="row mt-5">
    <div class="col-md-4">
      <h3 style="height: 90px;">
       <i class="far fa-edit"></i>
        <p>釣果の記録</p>
      </h3>
      <p>
        自慢したい、共有したい釣果を投稿してみましょう。
      </p>
    </div>
    <div class="col-md-4">
      <h3 style="height: 90px;">
        <i class="far fa-heart"></i>
        <p>気に入った投稿を記録</p>
      </h3>
      <p>
        例えば、あなたのよく行く釣り場の投稿をお気に入りにすれば、いつでも確認することができます。
      </p>
    </div>
    <div class="col-md-4">
      <h3 style="height: 90px;">
        <i class="far fa-grin-squint"></i>
        <p>使いやすいデザイン</p>
      </h3>
      <p>
        シンプルなデザインにすることで、誰でも使えるように設計
      </p>
    </div>
  </div>
  <hr>
  </div>
</div>
<div class="row justify-content-center my-3">
  <%= link_to '今すぐ登録!', signup_path, class: 'btn btn-lg mt-2', :style=>"background-color:orange" %>
</div>