// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new {
  text-align: center;
  border: solid 1px black;
  padding: 20px;
}

.index {
  text-align: center;
  border: solid 1px black;
}

.img-box { 
  border-right: solid 1px black; 
}

.post-img {
  width: 100%;
  height: auto;
}

.each-card {
  margin: 4px;
  border: solid 1px #C0C0C0;
  border-radius: 10px;
}

.show {
   text-align: center;
  border: solid 1px black;
}

.user-img {
  width: 25%;
  height: auto;
}