// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new {
  text-align: center;
  border-top: double 4px black;
  border-bottom: double 4px black;
  padding: 20px;
}

.img-box {
  margin: auto;
}

.post-img {
  width: 100%;
  height: auto;
}

.search-title {
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}