// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-item {
  height: auto;
  width: 100%;
}

.carousel-item h4 {
  color: white;
  font-family: "Comic Sanss MS";
}
