<div class="center jumbotron">
  <div class="text-center">
    <h1>本当にアカウントの削除をしますか？</h1>
  </div>
</div>
<div class="row justify-content-md-center">
  <%= link_to 'YES', current_user, method: :delete, class: 'btn btn-danger col-sm-5 mr-1' %>
  <%= link_to 'NO', user_path(current_user), class: 'btn btn-primary col-sm-5 ml-1' %>
</div>