<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Fishers.logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <!-- ログインしたら表示 -->
        <li class="nav-item">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ログインユーザ名</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item">
                <a href="#">ユーザ詳細</a>
              </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item">
                <a href="#">ログアウト</a>
              </li>
            </ul>
          </li>
        <!-- ログイン前に表示 -->  
        <li class="nav-item"><a href="#" class="nav-link">登録</a></li>
        <li class="nav-item"><a href="#" class="nav-link">ログイン</a></li>
      </ul>
    </div>
  </nav>
</header>